.mainContainer{
    max-width: 360px;
    padding-inline: 16px;
    margin: 0 auto;
}

.mainContainer h1{
    font-family: 'DM Sans';
}

.mainContainer h2{
    font-family: 'DM Sans';
    font-size: 0.9rem;
    padding-block: 16px 2px;
}

.list {
list-style: none;
padding: 0;
}

.listing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-inline: 4px;
    border-radius: 2px;
}

.listing:hover{
    background-color: #e2e2e2
}

.listing_title{
    font-family: 'DM Sans';
    color: var(--text-dark);
}

.listing_title_wip{
    font-family: 'DM Sans';
    color: var(--text-dark);
    font-style: italic;
}

.listing_date{
    font-family: 'IBM Plex Serif';
    color: var(--text-medium);
    font-size: 0.8rem;
}

